@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Policy for Farm Central.</p>
<br />
<p>At Farm Central, we are committed to protecting your privacy and ensuring the security of any personal information you provide to us. This Privacy Policy explains how we collect, use, and safeguard your information when you visit our website and use our services.</p>
<br />
<p>
    Information Use
    1.1 Provide and Improve Services: We may use the collected information to process your orders, provide customer support, improve our services, and personalize your experience with Farm Central.                                                                                                                                                         
    1.2 Communication: We may use your contact information to send you important updates, newsletters, promotional materials, and other communications related to our services. You can choose to opt-out of receiving such communications by following the unsubscribe instructions provided in the email or contacting us directly.
<br />
If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact us at [insert contact details].
By using Farm Central's website and services, you acknowledge that you have read and understood this Privacy Policy and agree to the collection, use, and disclosure of your personal information as described herein.
</p>

